{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title></title>
	<link rel="stylesheet" type="text/css" media="screen" href="{% static "ninepy/bootstrap/css/bootstrap.min.css" %}" />
	<link rel="stylesheet" type="text/css" media="screen" href="{% static "ninepy/css/base.css" %}" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "ninepy/bootstrap/js/bootstrap.min.js" %}"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	{% block header %}
		{% include 'ninepy/header.html' %}
	{% endblock %}

	<div class="col-md-6 col-md-offset-2">
		{% block content %}
		{% endblock %}
	</div>

	<div class="col-md-4">
		{% block sidebar %}
			{% include 'ninepy/sidebar.html' %}
		{% endblock %}
	</div>

	<div class="col-md-12">
		{% block footer %}
			{% include 'ninepy/footer.html' %}
		{% endblock %}
	</div>
</body>
</html>